@{
    Layout = "~/Views/Shared/LayoutPartial.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>Home</title>
</head>

<body>

    <!-- Tab -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/HomeMenu">HOME</a></li>
                <li class="breadcrumb-item active" aria-current="page">CHÍNH SÁCH BẢO MẬT</li>
            </ol>
        </nav>
    </div>
    <br>
    <!--Nội Dung-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><b>VỀ CHÚNG TÔI</b></h3>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="~/AboutUs/AboutUsForm">Giới thiệu về Mạc Bục</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/ChinhSach/ChinhSachForm">Chính sách bảo mật thông tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chính sách bảo hành</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chính sách quy định chung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chính sách vận chuyển</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chính sách đổi hàng,bán máy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Điều khoản thanh toán</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="">
                    <h3><b>Chính sách bảo mật thông tin</b></h3>
                    <br>
                    <p>
                        HnMac.vn cam kết bảo mật những thông tin mang tính riêng tư của khách hàng.
                        Khách hàng vui lòng đọc bản <b>“Chính sách bảo mật”</b>dưới đây để hiểu hơn những cam kết mà HNMac thực hiện,
                        nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.
                    </p><br>
                    <h5 style="text-align: center;"><b>1. Mục đích và phạm vi thu thập thông tin</b></h5>
                    <p>
                        Để truy cập và sử dụng một số dịch vụ tại HnMac.vn, khách hàng có thể sẽ được yêu cầu đăng ký với
                        HnMac thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính
                        xác và hợp pháp. HnMac.vn không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.<br><br>
                        HnMac cũng có thể thu thập thông tin về số lần ghé thăm, bao gồm số trang khách hàng xem, số links (liên kết)
                        khách hàng click và những thông tin khác liên quan đến việc kết nối đến site HNMac.vn.<br><br>
                        HnMac cũng thu thập các thông tin mà trình duyệt Web (Browser) khách hàng sử dụng mỗi khi truy cập vào HnMac.vn,
                        bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.
                    </p><br>
                    <h5 style="text-align: center;"><b>2. Phạm vi sử dụng thông tin</b></h5>
                    <p>
                        HnMac.vn thu thập và sử dụng thông tin cá nhân khách hàng với mục đích phù hợp và hoàn toàn tuân thủ nội dung của
                        “Chính sách bảo mật” này. Khi cần thiết, HnMac có thể sử dụng những thông tin này để liên hệ trực tiếp với khách hàng dưới
                        các hình thức như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, sms, thông tin về kỹ thuật và bảo mật…
                    </p><br>
                    <h5 style="text-align: center;"><b>3. Thời gian lưu trữ thông tin</b></h5>
                    <p>
                        Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên
                        đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật
                        trên máy chủ của HnMac.vn.
                    </p><br>
                    <h5 style="text-align: center;"><b>4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</b></h5>
                    <p>
                        <b>Công ty TNHH Công nghệ Thưởng Minh</b><br>
                        <br>
                        Địa chỉ đăng ký kinh doanh: Số nhà 38-40, tổ 17, đường Bắc Lãm - Phường Phú Lương - Quận Hà Đông - Hà Nội.
                        Văn phòng: Số 4, ngõ 9, phố Huỳnh Thúc Kháng, phường Láng Hạ, quận Đống Đa, tp Hà Nội
                        Điện thoại văn phòng: 0977728880
                    </p><br>
                    <h5 style="text-align: center;"><b>5. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân</b></h5>
                    <p>
                        Hiện website chưa triển khai trang quản lý thông tin cá nhân của thành viên, vì thế việc tiếp
                        cận và chỉnh sửa dữ liệu cá nhân dựa vào yêu cầu của khách hàng bằng cách hình thức sau:<br><br>

                        Gọi điện thoại đến hotline 0977728880, nhân viên sẽ hỗ trợ chỉnh sửa thay người dùng.<br><br>
                        Để lại bình luận hoặc gửi góp ý trực tiếp từ website HnMac.vn, quản trị viên kiểm tra thông tin và xem xét nội dung bình luận phù hợp với pháp luật và chính sách của HnMac.vn.
                    </p><br>
                    <h5 style="text-align: center;"><b>6. Cam kết bảo mật thông tin cá nhân khách hàng</b></h5>
                    <p>
                        Thông tin cá nhân của thành viên trên HnMac.vn được HnMac cam kết bảo mật tuyệt đối theo
                        chính sách bảo vệ thông tin cá nhân của công ty. Việc thu thập và sử dụng thông tin của mỗi thành
                        viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.<br><br>
                        Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự c
                        ho phép đồng ý từ thành viên.<br><br>
                        Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, HnMac.vn sẽ có trách
                        nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.<br><br>
                        HnMac.vn yêu cầu các cá nhân khi đăng ký/mua hàng là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ v
                        à tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán... và chịu trách nhiệm về tính
                        pháp lý của những thông tin trên.<br><br>
                        HnMac.vn không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấ
                        y tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.<br><br>
                        HnMac.vn khuyến cáo Thành viên nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của mình và không nên chia sẻ với bấ
                        t kỳ người nào khác. Nếu sử dụng máy tính chung nhiều người, Thành viên nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang
                        mở.<br><br>
                    </p><br>

                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT -->
    

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>