@{
    ViewBag.Title = "Giohangtrong";
    Layout = "~/Views/Shared/LayoutPartial.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>Home</title>
</head>
<h2 style="text-align: center;font-weight: bold">Đặt mua sản phẩm</h2>
<p style="text-align: center;font-weight: bold">Giỏ hàng trống, xin hãy trở lại trang thông tin sản phẩm để bắt đầu mua hàng!</p>
<h3>
    @Html.ActionLink("Về trang chủ", "HomeMenu", "Home")
</h3>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>