@{
    Layout = "~/Views/Shared/LayoutPartial.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>Home</title>
</head>

<body>

    <!-- MAIN CONTENT -->
<!-- BRAND NAME -->
    
        <!-- Tab -->
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/HomeMenu">HOME</a></li>
                    <li class="breadcrumb-item active" aria-current="page">VỀ CHÚNG TÔI</li>
                </ol>
            </nav>
        </div>
        <br>
        <!--Nội Dung-->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3><b>VỀ CHÚNG TÔI</b></h3>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="~/AboutUs/AboutUsForm">Giới thiệu về Macbook Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/ChinhSach/ChinhSachForm">Chính sách bảo mật thông tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chính sách bảo hành</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chính sách quy định chung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chính sách vận chuyển</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chính sách đổi hàng,bán máy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Điều khoản thanh toán</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="">
                        <h3><b>Giới Thiệu Về Macbook Store</b></h3>
                        <br>
                        <h4>Thành viên thực hiện trang web:</h4>
                        <br/>
                        <h5>Hồ Trần Gia Khánh - 1811063361 - 18DTHJB1</h5>
                        <br/>
                        <h5>Trịnh Đức Anh - 1811063253 - 18DTHJB1 </h5>
                        <br />
                        <h4 style="text-align: center;">Nguồn HNMac</h4>
                        <br>
                        <h5 style="text-align: center;"><b>Sứ Mệnh</b></h5>
                        <p>
                            Nhờ có sự phát triển không ngừng của ngành công nghệ, chúng ta đang được tận hưởng vô vàn những tiện ích mà nó đem lại.
                            Một thương hiệu lớn mà ai cũng biết đến, mỗi mùa thương hiệu này ra sản phẩm mới là cả thế giới phải dõi theo,
                            chẳng ai khác ngoài Apple. Và HNMac được sinh ra với sứ mệnh trở thành cầu nối để đưa người dùng Việt tiếp cận các sản phẩm của
                            “táo khuyết” dễ dàng, tiện lợi và an toàn hơn.
                        </p><br>
                        <h5 style="text-align: center;"><b>Tầm Nhìn</b></h5>
                        <p>
                            Không chỉ dừng lại ở việc kinh doanh các sản phẩm của Apple, HNMac trong tương lai gần mong muốn trở thành thương hiệu hàng
                            đầu tại Việt Nam về các sản phẩm Apple bao gồm chuỗi cửa hàng cung ứng sản phẩm và giải pháp, kênh thông tin thú vị và hữu
                            ích về các sản phẩm của Apple
                        </p><br>
                        <h5 style="text-align: center;"><b>Giá trị cốt lõi - kim chỉ nam cho hoạt động của HnMac</b></h5>
                        <p>
                            <b>Chất lượng đặt lên hàng đầu</b> -Với một thương hiệu hàng đầu thế giới như Apple, HNMac có trách nhiệm luôn đảm bảo những
                            trải nghiệm tốt nhất về chất lượng sản phẩm, xứng tầm đẳng cấp. <br>
                            <b>Niềm tin</b> - Đối với HNMac, chữ “tín” là kim chỉ nam cho mọi hành động và là thước đo thể hiện giá trị của HNMac trên thị trường <br>
                            <b>Thân thiện, chu đáo</b> -Bên cạnh những sản phẩm chất lương, đến với HNMac, khách hàng còn được hưởng những trải nghiệm mua hàng
                            thú vị với đội ngũ nhân viên thân thiện, trung thực, môi trường chuyên nghiệp. Tất cả nhằm mục tiêu đem lại sự hài lòng đúng như tinh
                            thần của sản phẩm nhà “Táo khuyết” <br>
                            <b>Chế độ hậu mãi tuyệt vời</b> -Sau khi sở hữu các sản phẩm Apple tại HNMac, khách hàng còn được hưởng dịch vụ sau bán hàng
                        </p><br>
                        <br>
                        <p>
                            Địa chỉ :<br>
                            <br>
                            Cơ sở 1: Số 4 ngõ 9 Huỳnh Thúc Kháng- Đống Đa – Hà Nội.<br>
                            Cơ sở 2: 157 Lê Thị Riêng, P. Phạm Ngũ Lão, Q. 01, Hồ Chí Minh.<br>
                            Hotline : 09 7772 8880 <br>
                            <br>
                            Công ty TNHH Giai Phap Phan Cung <br>
                            <br>
                            MST : 0107962539
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- CONTACT -->
        

        <script src="~/Scripts/jquery-3.6.0.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>